{
  "inbounds": [
    {
      "port": 11452,
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "5c8c30bf-8e07-4382-8567-0e18c5367221",
            "flow": "xtls-rprx-vision"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "show": false,
          "dest": "m.client.10010.com:443",
          "xver": 0,
          "serverNames": [
            "m.client.10010.com"
          ],
          "privateKey": "0G9zs2u_MbKiYDe5-rGFD_xQuv4lPpWrgeTkXuyMx2k",
          "shortIds": [
            "a1b2c3"
          ]
        }
      }
    }
  ],
  "inbounds": [
    {
      "port": 11451,
      "listen": "0.0.0.0",
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "86c50e3a-5b87-49dd-bd20-03c7f2735e40",
            "level": 0
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "ws",
        "security": "none",
        "wsSettings": {
          "path": "/",
          "headers": {}
        }
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom"
    }
  ]
}
