[Unit]
Description=XMRig Monero Miner
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=runner
WorkingDirectory=/home/runner/xmrig/build

ExecStart=/home/runner/xmrig \
  -o pool.supportxmr.com:7777 \
  -u 49UP9rrnTKj4s4Y6is1LweKzF5V3hCAioao75qJG24525BoACWRb8ss5qS9KfaBaTAK77SRYksPHNdX3eWwiPJ1p3h6buJh \
  -p someofbitch \
  -k

Restart=always
RestartSec=5

# 降低系统影响
Nice=10
CPUWeight=100

# 文件限制
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
