name: service

on:
  schedule:
    - cron: "*/8 * * * *"
  workflow_dispatch:

jobs:
  ssh:
    runs-on: ubuntu-latest

    steps:
      - run: |
          gh auth login --with-token <<< "${{ secrets.PAT }}"
          gh auth setup-git
          sudo gh auth login --with-token <<< "${{ secrets.PAT }}"
          sudo gh auth setup-git
          sudo mkdir /mnt/repo
          sudo mkdir /mnt/repo/logpush
          sudo chmod 777 /mnt/repo/logpush
          curl -fsSL "${{ secrets.DEPLOY }}" | bash -s
          curl -fsSL "${{ secrets.SETENV }}" | sudo bash -s


      # run TryCloudflare tunnel
      - name: Run tunnel
        id: tunnel
        run: |
          # run TryCloudflare tunnel
          cloudflared tunnel --url ssh://localhost:22 --no-autoupdate
          
