name: 100 times

on:
  workflow_dispatch:

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Install GitHub CLI
        run: |
          sudo apt update
          sudo apt install -y gh

      - name: Trigger 100 workflows concurrently
        env:
          REPO: porndreamer/codespace
          WORKFLOW: showip.yml
          REF: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Triggering 100 workflows concurrently..."

          for i in $(seq 1 1000); do
            gh workflow run "$WORKFLOW" --repo "$REPO" --ref "$REF" &
          done

          wait
          echo "All 100 workflows triggered."
