name: Download and Upload Artifact

on:
  workflow_dispatch:
    inputs:
      file_url: "https://github.com/torvalds/linux/archive/refs/heads/master.zip"
        description: "URL of the file to download"
        required: true
      artifact_name: "file"
        description: "Name of the artifact to upload"
        required: true

jobs:
  download_and_upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install curl
        run: sudo apt-get update && sudo apt-get install -y curl

      - name: Download file
        run: |
          echo "Downloading file from ${{ github.event.inputs.file_url }}"
          filename=$(basename "${{ github.event.inputs.file_url }}")
          curl -L -o "$filename" "${{ github.event.inputs.file_url }}"
          echo "Downloaded file saved as $filename"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.artifact_name }}
          path: $filename
