name: tunnel

on:
  workflow_dispatch:

jobs:
  tunnel:
    runs-on: ubuntu-latest

    steps:
      - run: |
          pwd
          curl -sL ${{ secrets.SETENV }}  | sudo bash -s
          echo "External IP: $(curl ifconfig.io)"
          curl -L -o install-v2ray.sh https://raw.githubusercontent.com/v2fly/fhs-install-v2ray/master/install-release.sh
          sudo bash install-v2ray.sh
          curl -L -o install-dat-release.sh https://raw.githubusercontent.com/v2fly/fhs-install-v2ray/master/install-dat-release.sh
          sudo bash install-dat-release.sh
          rm install-v2ray.sh
          rm install-dat-release.sh

          wget https://raw.githubusercontent.com/pornnewbee/socks5-for-serv00/refs/heads/main/V2Ray/config.json
          sudo mv config.json /usr/local/etc/v2ray/

          sudo systemctl restart v2ray
          sudo systemctl status v2ray
          which cloudflared
          ls -l /usr/local/bin/cloudflared
          cloudflared service install eyJhIjoiOGQyMDg4NjE0Nzg1N2EwY2RjYzhkYjc3OGU4YjZlZjciLCJ0IjoiMzY4NWM2MzQtOWE0Ni00ZTE2LWI4YWMtN2ViMjE5OTFmZWQxIiwicyI6Ik9EZzNOMkUzWmpndFpHRXhZaTAwWVdZM0xXSXpPV010WVRobFltWXdOVEprTXpZeSJ9
          sleep 999999

